*
{
	margin = 0;
	padding: = 0;
	box-sizing: border-box;
}

body
{
	font-family: sans-serif;
	background-color: #191c32;
}

.wrapper
{
	width:  100vw; /* 100% viewport width*/
	height:  100vh; /* 100% viewport height*/
	color:  #fff;
}

.menu
{
	display: flex;
	width: 50vw;
	justify-content: space-around;
}

.menu li
{
	list-style: none; /*Para quitar los puntos de la lista del menu*/
}

.menu a
{
	color: #fff;
	text-decoration: none; /*Para quitar el subrayado de abajo de las letras*/
	padding: 10px 20px;
}

.navbar
{
	display: flex; /*Para que se pongan unos elementos al lado de otros*/
	justify-content: space-between; /*Para hacer que un elemento se ponga a la derecha y el otro a la izquierda*/
	padding: 2em;
}

.menu .active
{
	color: aquamarine;
}

.menu a:hover
{
	background-color: aquamarine;
	color: #191c32;
	transition: ease-in .15s;
}

.main
{
	margin: 0 auto;
	width: 80vw;
	height: 80vh;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	align-items: center;
}

.download-cv
{
	padding: 10px 20px;
	background-color: aquamarine;
	border: none;
	border-radius: 10px;
	margin-top: 10px;
	cursor: pointer;
}

.download-cv:hover
{
	background-color: white;
}